<div class="question"> 
  <%= @question %> 
</div>
<p></p>
<p></p>
<p></p>
<li>
  <a class = "yes btn btn-primary" href=<%= @yes_href %>>Yes</a>
  <a class = "no btn btn-danger" href=<%= @no_href %>>No</a>
</li>